$primary-light: #673fd6;
$on-primary-light: #ffffff;
$primary-container-light: #e8ddff;
$on-primary-container-light: #1e0060;
$secondary-light: #2b5ea7;
$on-secondary-light: #ffffff;
$secondary-container-light: #d6e3ff;
$on-secondary-container-light: #001b3f;
$tertiary-light: #006d45;
$on-tertiary-light: #ffffff;
$tertiary-container-light: #7bfabb;
$on-tertiary-container-light: #042013;
$error-light: #b3261e;
$on-error-light: #ffffff;
$error-container-light: #f9dedc;
$on-error-container-light: #410e0b;
$outline-light: #79747e;
$background-light: #fffbff;
$on-background-light: #1b1b1f;
$surface-light: #fffbff;
$on-surface-light: #1b1b1f;
$surface-variant-light: #e7e0ec;
$on-surface-variant-light: #49454f;
$inverse-surface-light: #303034;
$inverse-on-surface-light: #f3f0f5;
$primary-dark: #cebdff;
$on-primary-dark: #350097;
$primary-container-dark: #4e1dbe;
$on-primary-container-dark: #e8ddff;
$secondary-dark: #a8c7ff;
$on-secondary-dark: #002f67;
$secondary-container-dark: #00458d;
$on-secondary-container-dark: #d6e3ff;
$tertiary-dark: #5cdda0;
$on-tertiary-dark: #003822;
$tertiary-container-dark: #005233;
$on-tertiary-container-dark: #7bfabb;
$error-dark: #f2b8b5;
$on-error-dark: #601410;
$error-container-dark: #8c1d18;
$on-error-container-dark: #f9dedc;
$outline-dark: #938f99;
$background-dark: #1b1b1f;
$on-background-dark: #e4e1e6;
$surface-dark: #1b1b1f;
$on-surface-dark: #e4e1e6;
$surface-variant-dark: #49454f;
$on-surface-variant-dark: #cac4d0;
$inverse-surface-dark: #e4e1e6;
$inverse-on-surface-dark: #1b1b1f;

main[color-mode="light"] {
	--primary: #{$primary-light};
	--on-primary: #{$on-primary-light};
	--primary-container: #{$primary-container-light};
	--on-primary-container: #{$on-primary-container-light};
	--secondary: #{$secondary-light};
	--on-secondary: #{$on-secondary-light};
	--secondary-container: #{$secondary-container-light};
	--on-secondary-container: #{$on-secondary-container-light};
	--tertiary: #{$tertiary-light};
	--on-tertiary: #{$on-tertiary-light};
	--tertiary-container: #{$tertiary-container-light};
	--on-tertiary-container: #{$on-tertiary-container-light};
	--error: #{$error-light};
	--on-error: #{$on-error-light};
	--error-container: #{$error-container-light};
	--on-error-container: #{$on-error-container-light};
	--outline: #{$outline-light};
	--background: #{$background-light};
	--on-background: #{$on-background-light};
	--surface: #{$surface-light};
	--on-surface: #{$on-surface-light};
	--surface-variant: #{$surface-variant-light};
	--on-surface-variant: #{$on-surface-variant-light};
	--inverse-surface: #{$inverse-surface-light};
	--inverse-on-surface: #{$inverse-on-surface-light};
}

main[color-mode="dark"] {
	--primary: #{$primary-dark};
	--on-primary: #{$on-primary-dark};
	--primary-container: #{$primary-container-dark};
	--on-primary-container: #{$on-primary-container-dark};
	--secondary: #{$secondary-dark};
	--on-secondary: #{$on-secondary-dark};
	--secondary-container: #{$secondary-container-dark};
	--on-secondary-container: #{$on-secondary-container-dark};
	--tertiary: #{$tertiary-dark};
	--on-tertiary: #{$on-tertiary-dark};
	--tertiary-container: #{$tertiary-container-dark};
	--on-tertiary-container: #{$on-tertiary-container-dark};
	--error: #{$error-dark};
	--on-error: #{$on-error-dark};
	--error-container: #{$error-container-dark};
	--on-error-container: #{$on-error-container-dark};
	--outline: #{$outline-dark};
	--background: #{$background-dark};
	--on-background: #{$on-background-dark};
	--surface: #{$surface-dark};
	--on-surface: #{$on-surface-dark};
	--surface-variant: #{$surface-variant-dark};
	--on-surface-variant: #{$on-surface-variant-dark};
	--inverse-surface: #{$inverse-surface-dark};
	--inverse-on-surface: #{$inverse-on-surface-dark};
}
